:root {
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    justify-content: center;

    background: #121214;
    font-size: 1.6rem;

    padding: 7.2rem 10.4rem;
}

header h1{
    font-size: 5.6rem;
    line-height: 7.2rem;
    font-weight: 900;

    color: #02799D;
}

header p {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 4rem;

    color: #e1e1e6;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 37rem);

    /* shorthand */
    gap: 4.8rem 6.0rem;

    margin-top: 6.2rem;
}

.card {
    background: #202024;
    border: 2px solid #323238;
    border-radius: 8px;

    /* faz com que a imagem obedeça as bordas do card */
    overflow: hidden;
}

.card h2 {
    color: #e1e1e6;
    font-size: 3.6rem;
    font-weight: 900;

    padding: 24px 32px 0;
}

.card p {
    color: #c4c4cc;
    font-size: 1.8rem;
    font-weight: 600;

    padding: 24px 32px 32px;
}